.col-md-10.col-md-offset-1
  .panel.panel-default
    .panel-heading
      %h3.panel-title Sign Up
    .panel-body
      .form-horizontal
        .fieldset
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), |
          :html => { method: :post }, wrapper: :horizontal_form, wrapper: :horizontal_form) do |f|
          = f.error_notification
          .form-inputs
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          = f.input :password_confirmation, required: true, placeholder: "Confirm your password"
          .form-group
            .col-sm-offset-2.col-sm-10
              = f.button :submit, "Sign up", class: "btn btn-primary"
