.col-md-10.col-md-offset-1
  .panel.panel-default
    .panel-heading
      %h3.panel-title Log in
    .panel-body
      .form-horizontal
        .fieldset
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), |
          wrapper: :horizontal_form, wrapper: :horizontal_form,                          |
          wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,             |
          boolean: :horizontal_boolean}) do |f|
          = f.error_notification
          .form-group
          = f.input :email, required: true, autofocus: true
          = f.input :password, required: true
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
          .form-group
            .col-sm-offset-2.col-sm-10
              = f.button :submit, "Log in", class: "btn btn-primary"
              or
              = render "devise/shared/links"

