.container
  .panel-body.inf-content
    .row
      .col-md-4
        #player
          - if @player.avatar.present?
            .avatar
              = image_tag(@player.avatar_url, alt: "#{@player.nickname.downcase}")
          - else
            .avatar
              = image_tag(@player.avatar.default_url, size: "150x150")
          .usertitle
            .usertitle-name
              = "#{@player.full_name} aka #{@player.nickname} "
      .col-md-6
        = render 'shared/player', player: @player
