.col-sm-6.col-sm-offset-3
  = simple_form_for @match do |f|
    = f.error_notification
    = f.input :match_date, as: :date_picker, :label => "Match Date"
    = f.association :home_player, label: "Home Player", label_method: :nickname, |
      value_method: :id                                                          |
    = f.input :home_score, collection: 1..10, label: 'Home Score'
    = f.association :away_player, label: "Away Player", label_method: :nickname, |
      value_method: :id                                                          |
    = f.input :away_score, collection: 1..10, label: 'Away Score'
    = f.error :base
    = f.button :submit, 'Add Match'
